body{
	background: #F0F8FF;
  	color: #666666;
  	font-family: 'RobotoDraft', 'Roboto', sans-serif;
  	font-size: 14px;
}
.title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.title span {
  font-size: 12px;
}
.form-module {
  position: relative;
  background: #FFFFFF;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #1E90FF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #1E90FF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module .form {
  display: block;
  padding: 40px;
}
.form-module .input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #D9D9D9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
}
.form-module .button {
  cursor: pointer;
  background: #1E90FF;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #FFFFFF;
}
.form-module .delete-button {
  cursor: pointer;
  background: #F2F2F2;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #666666;
}
