h1.welcome{
    text-align: center;
    }
form{
    position:absolute;
    border:1px solid black;
    display: inline-block;
    text-align: center;
    } 
.userinfo{
	text-align: right;
}